.timeframe-buttons{
    background-color: rgb(29, 32, 75);
    border-radius: 15px;
    width: 220px;
    height: 400px;
    margin: 9px;
}

#divUser{
    background-color: rgb(87, 70, 234);
    height: 65%;
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#divImgJ{
    width: 70px;
    height: 70px;
    border: 3px solid white;
    border-radius: 50px;
    cursor: pointer;
    transition: ease-in-out 300ms;
}
#divImgJ:hover{
    width: 80px;
    height: 80px;
}
#divImgJ>img{
    height: 100%;
    width: 100%;
}
#divUser>p{
    color: hsla(0, 0%, 100%, 0.700);
    margin: 0;
    margin-top: 40px;
    font-size: 10pt;
}
#divUser>h1{
    font-weight: 100;
    color: white;
    margin: 0;
}
button{
    border: none;
    background-color: rgba(250, 235, 215, 0);
    color: hsl(235, 45%, 61%);
    width: 80px;
    padding-left: 20px;
    font-size: 12pt;
    text-align: start;
    cursor: pointer;
}
button:hover{
    color: white;
}
#btnsss{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30%;
}
@media (max-width: 682px){
    .timeframe-buttons{
        width: 80%;
        height: 200px;
    }
    #divUser{
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 10px;
    }   
    #divUser h1{
        font-size: 18pt;
        width: 80%;
        margin: 10px;
        text-align: end;
    }
    #divUser p{
        width: 50%;
        text-align: end;
        margin: 10px;
    }
    #btnsss{
        flex-direction: row;        
        height: 50px;
    }
    #btnsss>button{
        padding: 0;
        width: auto;
        align-self: center;
    }
}