#divCardTout{
    background-color: blanchedalmond;
    width: 220px;
    height: 220px;
    align-content: end;
    margin: 9px;
    border-radius: 15px;
}

#divCard{
    background-color: rgb(29, 32, 75);
    width: 100%;
    height: 80%;
    color: white;
    border-radius: 15px;
}