.app-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
}

#divBtns{
  width: auto;
}

#divCards{
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  gap: 10px;
}
