.app-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
}
#root{
  /* padding-right: 5vw;
  padding-left: 5vw;
  padding-top: 10vh;
  padding-bottom: 10vh; */
  width: 99vw;
}

#divBtns{
  width: auto;
}

#divCards{
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  gap: 10px;
}
@media (max-width: 682px){
  #divBtns{
    display: flex;
    justify-content: center;
    width: 80%;
  }
  #divCards{
    justify-content: center;
    width: 80%;
  }
}