.rubik- {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  font-family: "Rubik", sans-serif;
  background-color: rgb(13, 19, 35);
  justify-content: center;
  height: 99vh;
  justify-content: center;
}
@media (max-width: 682px){

}
